Repository ucdavis/accessible-pdf-rocky: changes, and which Codecov flags are due for each by the changed paths.
All: controller, hpc_runner, frontend, workers, Controller, HPC Runner, Frontend, Workers

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

flags:
  controller:
    paths:
      - controller/
    carryforward: false

  hpc_runner:
    paths:
      - hpc_runner/
    carryforward: false

  frontend:
    paths:
      - frontend/src/
    carryforward: false

  workers:
    paths:
      - workers/src/
    carryforward: false

component_management:
  individual_components:
    - component_id: controller
      name: Controller
      paths:
        - controller/**
    - component_id: hpc_runner
      name: HPC Runner
      paths:
        - hpc_runner/**
    - component_id: frontend
      name: Frontend
      paths:
        - frontend/**
    - component_id: workers
      name: Workers
      paths:
        - workers/**

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

fix: Codecov integration complete
  docs/CODECOV_SETUP.md
  justfile
Due: none

feat: implement SQLModel database integration with async PostgreSQL
  controller/db/models.py
  controller/db/session.py
  controller/main.py
  controller/pyproject.toml
  controller/tests/test_db_r2.py
  controller/tests/test_main.py
  controller/uv.lock
  cspell.json
  docker-compose.yml
Due: controller, Controller

refactor: improve database implementation with production-ready patterns
  README.md
  controller/db/models.py
  controller/db/session.py
  controller/main.py
  controller/tests/test_db_r2.py
  controller/tests/test_main.py
  cspell.json
  docker-compose.yml
Due: controller, Controller

perf: add production-ready database optimizations
  controller/db/models.py
  controller/db/session.py
  controller/main.py
  controller/tests/test_db_r2.py
  cspell.json
Due: controller, Controller

fix: correct DATABASE_URL formatting and relax test assertions
  controller/tests/test_db_r2.py
  docker-compose.yml
Due: controller, Controller

Changed: Provides default values for database connection
  docker-compose.yml
Due: none

Changed: Improves documentation clarity and consistency
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/SYSTEM_DESIGN.md
  docs/TESTING.md
Due: none

Changed: Updates architecture diagram to flowchart
  docs/ARCHITECTURE.md
  docs/WHY.md
Due: none

Changed: Updates diagram styles for clarity
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/SYSTEM_DESIGN.md
Due: none

Changed: Revamps HPC job submission with R2 presigned URLs
  controller/hpc/scripts/job.sh
  controller/hpc/submit.py
  controller/queue_listener.py
  controller/r2/presigned.py
  cspell.json
  docs/ARCHITECTURE.md
  docs/SYSTEM_DESIGN.md
  hpc_runner/runner.py
Due: controller, hpc_runner, Controller, HPC Runner

feat: migrate to Cloudflare D1 and add monitoring infrastructure
  controller/db/client.py
  controller/db/models.py
  controller/db/session.py
  controller/hpc/scripts/export_slurm_metrics.sh
  controller/hpc/scripts/slurm_sbatch_wrapper.sh
  controller/hpc/submit.py
  controller/main.py
  controller/metrics.py
  controller/pyproject.toml
  controller/queue_listener.py
  controller/tests/test_db_r2.py
  controller/tests/test_main.py
  controller/uv.lock
  cspell.json
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/METRICS_DEPLOYMENT.md
  docs/MONITORING_SETUP.md
  docs/MVP_ROADMAP.md
  docs/SECURITY_SETUP.md
  docs/SYSTEM_DESIGN.md
  frontend/package.json
  workers/db-api/README.md
  workers/db-api/package.json
  workers/db-api/schema.sql
  workers/db-api/src/index.ts
  workers/db-api/tsconfig.json
  workers/db-api/wrangler.toml
  workers/eslint.config.mjs
  workers/metrics-ingest/.gitignore
  workers/metrics-ingest/README.md
  workers/metrics-ingest/package.json
  workers/metrics-ingest/schema.sql
  workers/metrics-ingest/src/index.ts
  workers/metrics-ingest/tsconfig.json
  workers/metrics-ingest/wrangler.toml
  workers/package.json
Due: controller, Controller, Frontend, Workers

feat: comprehensive security hardening and code quality improvements
  README.md
  controller/db/client.py
  controller/db/models.py
  controller/hpc/scripts/export_slurm_metrics.sh
  controller/hpc/scripts/slurm_sbatch_wrapper.sh
  controller/hpc/submit.py
  controller/main.py
  controller/metrics.py
  controller/tests/test_db_r2.py
  controller/tests/test_main.py
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/METRICS_DEPLOYMENT.md
  docs/MONITORING_SETUP.md
  docs/SECURITY_SETUP.md
  workers/db-api/README.md
  workers/db-api/package-lock.json
  workers/db-api/package.json
  workers/db-api/schema.sql
  workers/db-api/src/index.ts
  workers/db-api/wrangler.toml
  workers/eslint.config.mjs
  workers/metrics-ingest/README.md
  workers/metrics-ingest/package-lock.json
  workers/metrics-ingest/package.json
  workers/metrics-ingest/schema.sql
  workers/metrics-ingest/src/index.ts
  workers/metrics-ingest/wrangler.toml
Due: controller, Controller, Workers

Fixed: Improves error handling and job submission robustness
  controller/db/client.py
  controller/hpc/scripts/export_slurm_metrics.sh
  controller/hpc/scripts/slurm_sbatch_wrapper.sh
  controller/hpc/submit.py
  controller/main.py
  docker-compose.yml
  docs/DEVELOPMENT.md
  workers/db-api/src/index.ts
  workers/metrics-ingest/README.md
  workers/metrics-ingest/src/index.ts
  workers/metrics-ingest/wrangler.toml
Due: controller, Controller, Workers

Potential fix for code scanning alert no. 2: Log Injection
  controller/db/client.py
Due: controller, Controller

Fixed: Prevents errors from invalid JSON responses
  controller/db/client.py
Due: controller, Controller

refactor: improve error handling, testing, and production readiness
  .github/workflows/ci.yml
  .github/workflows/security.yml
  README.md
  client/eslint.config.js
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/lib/__tests__/api.test.ts
  client/src/lib/api.ts
  client/src/routes/jobs/$jobId.tsx
  client/tsconfig.json
  client/vite.config.ts
  client/vitest.config.ts
  cspell.json
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/METRICS_DEPLOYMENT.md
  docs/MONITORING_SETUP.md
  docs/MVP_ROADMAP.md
  docs/SYSTEM_DESIGN.md
  docs/TESTING.md
  justfile
  package.json
  server.core/Domain/ErrorResponse.cs
  server.core/Domain/JobStatus.cs
  server.core/Domain/ProcessingMetric.cs
  server.core/Domain/User.cs
  server/Controllers/JobController.cs
  server/Program.cs
  server/Properties/launchSettings.json
  server/Services/DatabaseApiClient.cs
  server/appsettings.Production.json
  tests/server.tests/MetricsClientTests.cs
Due: none

fix: address code review feedback and CI issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  docker-compose.yml
  docs/TESTING.md
  justfile
  server/Program.cs
  server/Services/DatabaseApiClient.cs
Due: none

refactor: improve code quality based on review feedback
  docker-compose.yml
  docs/TESTING.md
  justfile
  server/Program.cs
  server/Services/DatabaseApiClient.cs
Due: none

Changed: Enables C# CodeQL analysis and improves error handling
  .github/workflows/codeql.yml
  docker-compose.yml
  justfile
  server/Program.cs
Due: none

Changed: Improves Docker Compose setup and dependency management
  docker-compose.yml
  justfile
  server/Program.cs
  workers/db-api/src/index.ts
Due: Workers

Added: Dev container setup for consistent environment
  .devcontainer/README.md
  .devcontainer/dev.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .devcontainer/wait-for-db-api.sh
  README.md
  docker-compose.yml
  justfile
  server/HealthChecks/DatabaseApiHealthCheck.cs
  server/Program.cs
  workers/package-lock.json
Due: Workers

Changed: Refactors and updates project dependencies
  .devcontainer/README.md
  .devcontainer/setup.sh
  .devcontainer/wait-for-db-api.sh
  .github/dependabot.yml
  README.md
  cspell.json
  docker-compose.yml
  docs/MONITORING_SETUP.md
  workers/api/job-status.ts
  workers/db-api/README.md
  workers/db-api/docker-init.sh
  workers/db-api/package.json
  workers/db-api/src/index.ts
  workers/metrics-ingest/README.md
  workers/metrics-ingest/src/index.ts
  workers/package-lock.json
Due: Workers

Fixed: Addresses database initialization issues in Docker
  client/docker-init.sh
  docker-compose.yml
  workers/db-api/docker-init.sh
  workers/metrics-ingest/src/index.ts
Due: Workers

Fixed: Aligns metrics source naming for consistency
  docs/METRICS_DEPLOYMENT.md
  justfile
  server/Services/MetricsClient.cs
  server/appsettings.Development.json
  server/appsettings.Production.json
  server/appsettings.json
  tests/server.tests/MetricsClientTests.cs
  workers/db-api/docker-init.sh
  workers/db-api/src/index.ts
  workers/metrics-ingest/src/index.ts
  workers/tsconfig.json
Due: Workers

chore: update deps and make dev containers stop cleanly
  client/docker-init.sh
  client/package-lock.json
  cspell.json
  hpc_runner/uv.lock
  justfile
  tests/server.tests/server.tests.csproj
  workers/db-api/docker-init.sh
  workers/db-api/package-lock.json
  workers/metrics-ingest/package-lock.json
  workers/package-lock.json
Due: hpc_runner, HPC Runner, Workers

Changed: Updates xunit dependency to v3
  docs/TESTING.md
  tests/server.tests/MetricsClientTests.cs
  tests/server.tests/server.tests.csproj
Due: none

Changed: Updates project to .NET 10
  .devcontainer/README.md
  .devcontainer/dev.Dockerfile
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  README.md
  cspell.json
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/SYSTEM_DESIGN.md
  global.json
  justfile
  server.core/server.core.csproj
  server/server.csproj
  tests/server.tests/server.tests.csproj
Due: none

Changed: Updates project documentation and configurations
  cspell.json
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/METRICS_DEPLOYMENT.md
  docs/MONITORING_SETUP.md
  docs/SECURITY_SETUP.md
  docs/SYSTEM_DESIGN.md
  docs/TESTING.md
Due: none

Changed: Improves the devcontainer setup for local development
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  cspell.json
  docker-compose.yml
  docs/DEVELOPMENT.md
  justfile
  server/Program.cs
Due: none
